.tournament_page {
}

.tournament_page .tournament {
  padding: 1rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  margin-top: 1rem;
}

.tournament_page .tournament .tournament_page_content {
  display: flex;
  align-items: center;
}

.tournament_page .tournament .tournament_page_content img {
  height: 150px;
  margin-right: 2rem;
}

.tournament_page .tournament .tournament_page_content p {
  font-size: 16px;
}

.tournament_page
  .tournament
  .tournament_page_content
  .tournament_page_content_pokemon {
  min-width: 70px;
  text-align: center;
}

.tournament_category {
  margin-bottom: 4rem;
}

.tournament_category h2 {
  margin-bottom: 2rem;
}
