.tournament_admin .tournaments_general_tier {
  padding: 1rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  margin-top: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tournament_admin form button {
  margin-top: 1rem;
}

.tournament_admin
  .tournaments_general_tier
  .tournaments_general_tier_navigation {
  display: flex;
}

.tournament_admin
  .tournaments_general_tier
  .tournaments_general_tier_navigation
  button:first-child {
  margin-right: 0.5rem;
}

.tournament_admin .tournament_general_tier_admin_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tournament {
  padding: 1rem;
}
