@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:wght@400;700&display=swap");

:root {
  --main-dark-color: #414141;
  --main-light-color: #f8f8f8;
  --error-color: rgb(214, 16, 16);
  --success-color: rgb(20, 83, 20);
  --header-background-color: rgba(163, 58, 9, 0.5);
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  font-size: 16px;
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: "Lobster", cursive;
}

.light {
  color: var(--main-dark-color);
  background-color: var(--main-light-color);
}

.dark {
  color: var(--main-light-color);
  background-color: var(--main-dark-color);
}

.light a {
  color: var(--main-dark-color);
}

.dark a {
  color: var(--main-light-color);
}

.light button {
  color: var(--main-dark-color);
}

.dark button {
  color: var(--main-light-color);
}

.light input {
  color: var(--main-dark-color);
}

.dark input {
  color: var(--main-light-color);
}

.light select {
  color: var(--main-dark-color);
}

.dark select {
  color: var(--main-light-color);
}

.light option {
  color: var(--main-dark-color);
}

.dark option {
  color: var(--main-dark-color);
}

.layout {
  margin: 0;
  padding: 0.5rem;
}

.light main::-webkit-scrollbar,
.light aside::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

.light main::-webkit-scrollbar,
.light aside::-webkit-scrollbar-track {
  background: var(--main-dark-color); /* color of the tracking area */
}

.light main::-webkit-scrollbar,
.light aside::-webkit-scrollbar-thumb {
  background-color: var(--main-light-color); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 2px solid var(--main-dark-color); /* creates padding around scroll thumb */
}

.dark main::-webkit-scrollbar,
.dark aside::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

.dark main::-webkit-scrollbar,
.dark aside::-webkit-scrollbar-track {
  background: var(--main-light-color); /* color of the tracking area */
}

.dark main::-webkit-scrollbar,
.dark aside::-webkit-scrollbar-thumb {
  background-color: var(--main-dark-color); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 2px solid var(--main-light-color); /* creates padding around scroll thumb */
}

.ck.ck-editor__main {
  color: var(--main-dark-color);
}

@media (max-width: 900px) {
  .html,
  body {
    overflow-y: scroll;
  }
}
